footer.footer {
  &.bg-dark {
    background-color: #162B2B !important;
  }

  @include media-breakpoint-down(lg) {
    text-align: center;
  }

  svg {
    fill: $primary;
  }

  .heading {

    margin-bottom: 15px;
    font-size: 18px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }

  ul {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #ddd;
        font-size: 16px;
        line-height: 1.3;
        display: block;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  a.app-links {
    justify-content: space-around;

    img {
      justify-content: space-around;
      width: 45%;
    }
  }

}